@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.bg-cray {
    background-color: #1b7dda;
}

.cl-cray {
    color: #1b7dda;
}

.w-32 {
    width: 32px;
}

.h-32 {
    height: 32px;
}

.container-content {
    max-height: 920px;
    overflow-y: scroll;
    margin-left: 50px;
    transition: all 0.5s ease;
}

// #body::-webkit-scrollbar {
//     width: 6px;
//     // background-color: #F5F5F5;
// }

// #body::-webkit-scrollbar-thumb {
//     background-color: #3498db;
// }

// login
section{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom,#f1f4f9,#dff1ff);
    overflow: hidden;
}

section .color{
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1){
    top: -350px;
    width: 600px;
    height: 600px;
    background: #ff0000;
}

section .color:nth-child(2){
    bottom: -150px;
    left: 100px;
    width: 600px;
    height: 600px;
    background: #ffc100;
}

section .color:nth-child(3){
    bottom: 50px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: #ff4d00;
}

.box{
    position: relative;
}

.box .square{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s* var(--i));
}

@keyframes animate{
    0%,100%
    {
        transform: translateY(-40px);
    }
    50%
    {
        transform: translateY(40px);
    }
}

.box .square:nth-child(2){
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}

.box .square:nth-child(1){
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}

.box .square:nth-child(3){
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .square:nth-child(4){
    bottom: 60px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.box .square:nth-child(5){
    top: 50px;
    left: 140px;
    width: 60px;
    height: 60px;
}

.container{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 150px;
}

.form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form h2{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.form h2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

.form .inputBox{
    width: 100%;
    margin-top: 20px;
}

.form .inputBox input{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
}

.form .inputBox input::placeholder{
    color: #fff;
}

.form .inputBox input[type = "submit"]{
    background: #fff;
    color: #666;
    font-weight: 600px;
    cursor: pointer;
    max-width: 140px;
    margin-bottom: 20px;
}

.forget{
    margin-top: 5px;
    color: #fff;

}

/*      Navigation Bar      */

.navbar{
    height: 64px;
    // background-color: #0069cc;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    transition: all 0.5s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.navbar .logo-content{
    color: #fff;
    display: flex;
    height: 50px;
    width: 255px;
}

.logo-content .logo-name{
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    margin-left: 5px;
    line-height: 48px;

}

.logo-content .logo-img {
    width: 92px;
    height: 46px;
    background: #3498db;
}

.navbar .avatar{
    position: relative;
    float: right;
    color: seashell;
    top: -1px;
    right: 16px;
    // padding: 0 30px;
    display: flex;
}

.navbar .avatar img{
    height: 46px;
    width: 46px;
    object-fit: cover;
    border-radius: 50%;
    // margin-top: 10px;
}

.navbar #user{
    position: absolute;
    top: 0px;
    left: -164px;
    background-color: #3498db;
    min-width: 150px;
    list-style: none;
    box-shadow: 10px 10px 1em;
    border-radius: 5px;
    display: none;

}

.navbar #user.active{
    display: block;
}

.navbar #user::before{
    content: "";
    border-width: 8px 9px;
    border-style: solid;
    border-color: transparent transparent transparent #3498db;
    position: absolute;
    right: -17px;
    top: 15px;
    z-index: 1;
}

.navbar ul li a{
    color: #fff;
    text-decoration: none;
}

.navbar ul li:hover{
    background: #fff;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    // border-radius: 10px;

}

.navbar ul li:hover a {
    color: #3498db;
}

.navbar ul li{
    color: #000;
    text-align: center;
    height: 30px;
}

.navbar ul li a {
    display: inline-block;
    height: 30px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 30px;
}

.avatar .user-name {
    color: #3498db;
    justify-content: space-between;
    margin-top: 14px;
}

/*      Navigation Bar      */


/*          Sidebar         */

.sidebar-container{
    position: fixed;
    left: 0;
    top: 0px;
    width: 50px;
    background-color: #0069cc;
    transition: all 0.5s ease;
    margin-top: 64px;
    margin-bottom: 64px;
}

.sidebar-container .sidebar{
    position: fixed;
    top: 64px;
    left: 0;
    width: 50px;
    background: #0069cc;
    transition: all 0.5s ease;
    height: 958px;
    bottom: 64px;
    overflow-y: hidden;
    overflow-x: hidden;
}

// .sidebar-container:hover,
.sidebar-container:hover .sidebar
{
    width: 240px;
    transition: all 0.5s ease;
    overflow-y: auto;
}

// .sidebar-container:hover .navbar,
.sidebar-container:hover ~ .container-content
// .sidebar-container:hover .content
{
    margin-left: 240px;
    transition: all 0.5s ease;
}

.sidebar-container:hover .sidebar::-webkit-scrollbar{
    width: 12px;
}

.sidebar-container .sidebar::-webkit-scrollbar-thumb{
    background: #3498db ;
}

.sidebar-container .sidebar ul li{
    position: relative;
    height: 57px;
    width: 100%;
    margin-right: 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar-container .sidebar ul li:hover a{
    color: #000;
    background: #fff;
    height: inherit;
}

.sidebar-container .sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    white-space: nowrap;
}

.sidebar-container .sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
/*          Sidebar             */

/*          Footer              */

.footer{
    // background-color: #0069cc;
    position: fixed;
    height: 64px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    margin-left: 50px;
    transition: all 0.5s ease;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .footer .footer-content .footer-logo{
    position: relative;
    color: #fff;
    display: flex;
    height: 64px;
    float: right;
    align-items: center;
    margin-right: 50px;
  }
  
  .footer .footer-content .credit{
    width: 180px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    line-height: 15px;
  }
  
  .footer .footer-content .credit::before{
    content: attr(data-text);
    position: absolute;
    text-align: center;
    width: 0;
    height: 18.4px;
    color: #000;
    -webkit-text-stroke: 0.3vw , #383d52;
    // border-right: 2px solid #fff;
    overflow: hidden;
    animation: animate 6s linear infinite;
  }
  
  @keyframes animate
  {
    0%,10%,100%
    {
        width: -1;
    }
    70%,90%
    {
        width: 160px;
    }
  }
  
  .footer .footer-content .footer-contact{
    position: relative;
    color: #fff;
    display: flex;
    height: 64px;
    align-items: center;
    float: left;
    
  }
  
  .footer .footer-content .footer-contact .contact{
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    color: #000;
    margin-left: 50px;
    line-height: 21px;
  }
  
  .footer .footer-content .social-icon{
    position: fixed;
    left: 45%;
    height: 64px;
    
  }
  
  .footer .footer-content .social-icon ul{
    position: relative;
    display: flex;
    margin-top: 5px;

  }
  
  .footer .footer-content .social-icon ul li{
    position: relative;
    list-style: none;
    margin: 10px;
  }

  .footer .footer-content .social-icon ul li a{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    color: #3498db;
    font-size: 1.5em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    // border-right: 1px solid rgba(255, 255, 255, 0.2);
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
  }
  
  .footer .footer-content .social-icon ul li a:hover{
    transform: translateY(-5px);
  }
  .new {
      background-color: #1b7dda;
  }