<!--    Footer     -->
<div class="footer">
    <div class="footer-content">
        <div class="footer-contact">
            <div class="contact cl-cray">Hotline: 0909.696.969</div>
        </div>

        <div class="social-icon">
            <ul>
                <li><a href="#"><i class="ti-facebook"></i></a></li>
                <li><a href="#"><i class="ti-youtube"></i></a></li>
                <li><a href="#"><i class="ti-skype"></i></a></li>
                <li><a href="#"><i class="ti-github"></i></a></li>
            </ul>
        </div>

        <div class="footer-logo">
            <img src="/img/copyright.png" width="32px" height="32px">
            <div class="credit" data-text="Copyright @Hachitech">Copyright @Hachitech</div>
        </div>
    </div>
</div>
<!--      Footer      -->