<!--        Sidebar         -->
<div class="sidebar-container">
    <div class="sidebar">
        <ul class="side-list">
            <li><a href="/"><i class="ti-home"></i>Trang chủ</a></li>
            <li><a href="products"><i class="ti-shopping-cart"></i>Sản phẩm</a></li>
            <li><a href="customers"><i class="ti-face-smile"></i>Khách hàng</a></li>
            <li><a href="users"><i class="ti-user"></i>Nhân viên</a></li>
            <li><a href=""><i class="ti-email"></i>Hộp thư</a></li>
            <li><a href=""><i class="ti-timer"></i>Lịch</a></li>
            <li><a href=""><i class="ti-bar-chart"></i>Thống kê</a></li>
            <li><a href=""><i class="ti-map"></i>Bản đồ</a></li>
            <li><a href=""><i class="ti-location-pin"></i>Định vị</a></li>
            <li><a href=""><i class="ti-settings"></i>Cài đặt</a></li>
            <li><a href=""><i class="ti-bookmark"></i>Bookmark</a></li>
            <li><a href=""><i class="ti-cup"></i>Thành tựu</a></li>
            <li><a href=""><i class="ti-comments"></i>Bình luận</a></li>
            <li><a href=""><i class="ti-announcement"></i>Thông báo</a></li>
            <li><a href=""><i class="ti-filter"></i>Bộ lọc</a></li>
            <li><a href=""><i class="ti-book"></i>Tài liệu</a></li>
            <li><a href=""><i class="ti-cloud-down"></i>File đã tải</a></li>
            <li><a href=""><i class="ti-help"></i>Trợ giúp</a></li>
        </ul>
    </div>
</div>
<!--        Sidebar         -->
<!--    Navigation Bar     -->
<div class="navbar">
    <div class="logo-content">
        <img src="/img/download.jpeg" class="logo-img">
        <h3 class="logo-name cl-cray">Bất động sản Đức Nghĩa</h3>
    </div>
    <div class="avatar">
        {{!-- <h6 class="user-name mr-2">Nguyễn Đức Nghĩa</h6> --}}
        <img src="/img/NguyenNgocDung_ava.jpg" id="tgmenu" alt="Ảnh nhân viên">
        <ul id="user">
            <li><a href="#"><i></i>Thông tin</a></li>
            <li><a href="#"><i></i>Đổi mật khẩu</a></li>
            <li><a href="/"><i></i>Đăng xuất</a></li>
        </ul>
    </div>
</div>
<!--    Navigation Bar     -->